*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.titleStore {
  text-align: center;
  font-size: 2rem;
  margin-top: 0.5rem;
}

.container {
  margin: 1rem auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(3); */
  gap: 1.5rem;
  text-align: center;
}

img {
  max-height: 13rem;
  padding: 0.2rem;
  margin-top: 0.5rem;
}

.nameProduct {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: #222222;
}

.descriptionProduct,
.skuProduct {
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  color: #333333;
}

.priceProduct {
  font-size: 1.2rem;
  color: #ff0000;
  font-weight: 600;
}

.quantityProduct {
  font-size: 0.8rem;
  font-weight: 600;
}

.buyButton {
  margin-top: 1rem;
  background-color: #3498db;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.2rem;
  transition: ease-in-out 0.3s;
}

.buyButton:hover {
  background-color: #2980b9;
}
